<template>
  <pagination/>
  <strong>{{getStatus}}</strong>
  <div class="wall">
    <tile
        v-for="item in profileArr"
        :key="item.id"
        :tile="item"
    />
  </div>

  <base-modal v-if="modalVisible">
    <img :src=itemProfile.picture alt="">
    <div>
      <strong>Имя: </strong>{{itemProfile.name}}
    </div>
    <div><strong>Пол: </strong> {{ itemProfile.gender }}</div>
    <div><strong>Email: </strong> {{ itemProfile.email }}</div>
    <div><strong>Телефон: </strong>Email {{ itemProfile.phone }}</div>
  </base-modal>
</template>

<script>


import Pagination from "@/components/pagination.vue";
import Tile from "@/components/tile.vue";
import BaseModal from "@/components/modal.vue";
import {mapState,mapGetters,mapActions,mapMutations} from "vuex"


export default {
  name: "wall-component",
  components: {BaseModal,Tile, Pagination},
  computed: {
    ...mapState({
      getStatus: state => state.post.getStatus,
      profileArr:  state => state.post.profileArr,
      modalVisible:  state => state.post.modalVisible,
      itemProfile:  state => state.post.itemProfile,
    })
  },
  methods: {

    ...mapActions({

    }),
    ...mapMutations({

    }),
    ...mapGetters({

    })
  }
}
</script>
<style lang="scss">
.wall {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 150px));
}

</style>
