<template>
  <h2>Профиль id: {{itemProfile.id}}</h2>
  <div class="profile">
    <img :src=itemProfile.picture alt="">
    <div>
      <strong>Имя: </strong>{{itemProfile.name}}
    </div>
    <div><strong>Пол: </strong> {{ itemProfile.gender }}</div>
    <div><strong>Email: </strong> {{ itemProfile.email }}</div>
    <div><strong>Телефон: </strong>Email {{ itemProfile.phone }}</div>
  </div>
  <router-link to="/" class="link">
    <div class="tile__string"><strong>на главную</strong></div>
  </router-link>
</template>
<script>
import {mapState} from "vuex"
export default {
  name: "Profile-component",
  computed: {
    ...mapState({
      itemProfile:  state => state.post.itemProfile
    })
  }
}
</script>
<style lang="scss">
.profile {
  border-style: solid;
  border-width: 5px;
  border-bottom-color: #bdbdbd;
  border-top-color: #000;
  border-left-color: #000;
  border-right-color: #bdbdbd;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;

  &__string {
    margin: 5px 0;
  }

  strong {
    font-size: 18px;
  }
}
</style>