<template >
  <form @submit.prevent>
    <input
        type="text"
        placeholder="поле 1"
        v-bind:value="title"
        @input="title = $event.target.value"
    >
    <input
        type="text"
        placeholder="поле 2"
        v-bind:value="body"
        @input="body = $event.target.value"
    >
    <main-button
        @click="inputWatch"
    >
      button test 1
    </main-button>
    <main-button
        @click="buttonTest"
    >
      button test 2
    </main-button>

  </form>
  <div
      v-for="item in arr"
      :key="item.id"
  >
    <div>
      Id = {{item.id}}
    </div>
    <div>
      Title = {{item.title}}
    </div>
    <div>
      Body = {{item.body}}
    </div>

  </div>
</template>

<script>
import MainButton from "@/components/UI/MyButton"
export default {
  name: "form-component",
  components:{MainButton},
  methods: {
    inputWatch() {
      const item = {
        id: Date.now(),
        title: this.title,
        body: this.body
      }
      this.arr.push(item)
    },
    buttonTest() {
      console.log('test')
    }
  },
  watch: {

  },
  data(){
    return {
      arr: [

      ],
      title: '',
      body: ''
    }
  }
}
</script>

<style scoped>

</style>