<template>
  <div class="modal" v-if="modalVisible" @click.stop="modalAction">
    <div
        @click.stop
        class="modal__content"
    >
      <slot></slot>
      <div class="modal__closed" @click.stop="modalAction"></div>
    </div>
  </div>
</template>

<script>
import {mapState,mapActions} from "vuex"
export default {
  name: "modal-component",
  computed: {
    ...mapState({
      modalVisible: state => state.post.modalVisible
    })
  },
  methods: {
    ...mapActions(['modalAction'])
  }
}
</script>

<style lang="scss">
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #00000073;
  cursor: pointer;

  &__content {
    text-align: left;
    font-size: 18px;
    position: absolute;
    left: 25%;
    top: 25%;
    background: #fff;
    border-radius: 20px 0 20px 20px;
    border-style: solid;
    border-width: 5px;
    border-bottom-color: #bdbdbd;
    border-top-color: #000;
    border-left-color: #000;
    border-right-color: #bdbdbd;
    padding: 20px;
    box-sizing: border-box;
    cursor: default;

    div {
      &:not(.modal__closed){
        margin: 10px 0;
      }
    }

  }
  &__closed{
    position: absolute;
    right: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-style: solid;
    border-width: 5px;
    border-bottom-color: #bdbdbd;
    border-top-color: #000;
    border-left-color: #000;
    border-right-color: #bdbdbd;
    &:before,&:after{
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
    }
    &:before{
      background: #bdbdbd;
      width: 5px;
      height: 100%;
      transform: rotate(45deg);
    }
    &:after{
      background: #000;
      width: 5px;
      height: 100%;
      transform: rotate(-45deg);
    }
  }
}

</style>