<template>
  <div class="pagination">
    <button class="pagination__item" :disabled="isButtonDisabled" @click="getProfile(10)">10
    </button>
    <button class="pagination__item" :disabled="isButtonDisabled" @click="getProfile(25)">25
    </button>
    <button class="pagination__item" :disabled="isButtonDisabled" @click="getProfile(50)">50
    </button>
  </div>
</template>
<script>

import {mapState} from "vuex"

export default {

  name: "pagination-component",
  computed: {
    ...mapState({
      isButtonDisabled: state => state.post.isButtonDisabled,
    })
  },
  methods: {
    getProfile(size) {
      this.$store.dispatch('loadProfile', size)
    }
  }

}
</script>

<style lang="scss">

.pagination {
  display: flex;

  &__item {
    margin: 5px;
  }
}

</style>