<template>
  <div class="tile" @click="this.$store.dispatch('postItemProfile',tile)">
    <img :src=tile.picture alt="" @click="modalAction">
    <router-link :to="'/profile/:id'+tile.id" class="link">
      <div class="tile__string"><strong>Имя: </strong>{{ tile.name }}</div>
    </router-link>
  </div>
</template>
<script>
import {mapActions} from "vuex"
export default {
  name: 'tile-component',
  props: {
    tile: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  methods: {
    ...mapActions([
      'modalAction'
    ])
  }
}
</script>

<style lang="scss">
.link {
  color: #2c3e50;
  text-decoration: none;
}

.tile {
  border-style: solid;
  border-width: 5px;
  border-bottom-color: #bdbdbd;
  border-top-color: #000;
  border-left-color: #000;
  border-right-color: #bdbdbd;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;

  &__string {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  strong {
    font-size: 18px;
  }
}

</style>